---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import LatestWorks from "../components/LatestWorks.astro";
import LatestBlog from "../components/LatestBlog.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Home | Asep Bagja"
  description="My personal blog where I share my opinion and topic that I'm interested."
  openGraph={{
    title: "Home | Asep Bagja",
    url: "https://www.asepbagja.com",
    image: "https://www.asepbagja.com/images/paljassaare.jpg",
    type: "website",
  }}
>
  <Navbar />
  <div class="container mt-10 mx-auto">
    <Hero />
  </div>
  <div class="bg-blue-200">
    <LatestWorks />
  </div>
  <div class="container mx-auto">
    <LatestBlog title="Latest from the blog" />
  </div>
</Layout>
<Footer />
