---
const currentYear = new Date().getFullYear();
---
<footer class="mt-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center">© 2014-{currentYear} <a href="https://www.asepbagja.com/about">Asep Bagja Priandana</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--bs-dark);
    color: var(--bs-body-bg);
  }

  footer a {
    color: var(--bs-body-bg);
    text-decoration: underline;
  }
</style>