<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
    <h2
      class="text-5xl lg:text-4xl text-gray-800 font-bold dark:text-neutral-200"
    >
      Explore my works
    </h2>
    <p class="mt-3 text-xl text-gray-800 dark:text-neutral-200">
      My latest projects on software and hardware product development.
    </p>
  </div>
  <!-- End Title -->

  <!-- Masonry Cards -->
  <div class="max-w-6xl px-4 sm:px-6 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-12 gap-6">
      <div
        class="sm:self-end col-span-12 sm:col-span-7 md:col-span-6 lg:col-span-4"
      >
        <!-- Card -->
        <a
          class="group relative block rounded-xl overflow-hidden focus:outline-none"
          href="#"
        >
          <div
            class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
          >
            <img
              class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
              src="/portfolio-img/uksed.jpeg"
              alt="Uksed - Input module"
            />
          </div>
          <div class="absolute bottom-0 start-0 end-0 p-2 sm:p-4">
            <div
              class="text-lg font-semibold text-gray-800 rounded-lg bg-white p-4 md:text-xl dark:bg-neutral-800 dark:text-neutral-200"
            >
              Uksed - Audio input module for Eurorack
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div
        class="sm:self-end col-span-12 sm:col-span-7 md:col-span-6 lg:col-span-4"
      >
        <!-- Card -->
        <a
          class="group relative block rounded-xl overflow-hidden focus:outline-none"
          href="#"
        >
          <div
            class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
          >
            <img
              class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
              src="/portfolio-img/mini.jpeg"
              alt="Mini - USB-C power supply"
            />
          </div>
          <div class="absolute bottom-0 start-0 end-0 p-2 sm:p-4">
            <div
              class="text-lg font-semibold text-gray-800 rounded-lg bg-white p-4 md:text-xl dark:bg-neutral-800 dark:text-neutral-200"
            >
              Mini - USB-C power supply for Eurorack
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div
        class="sm:self-end col-span-12 sm:col-span-7 md:col-span-12 lg:col-span-4"
      >
        <!-- Card -->
        <a
          class="group relative block rounded-xl overflow-hidden focus:outline-none"
          href="#"
        >
          <div
            class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
          >
            <img
              class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
              src="/portfolio-img/3d-printed-case.jpeg"
              alt="3D-printed powered Eurorack case"
            />
          </div>
          <div class="absolute bottom-0 start-0 end-0 p-2 sm:p-4">
            <div
              class="text-lg font-semibold text-gray-800 rounded-lg bg-white p-4 md:text-xl dark:bg-neutral-800 dark:text-neutral-200"
            >
              3D-printed powered Eurorack case
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-span-12 sm:col-span-6 md:col-span-12 lg:col-span-12">
        <!-- Card -->
        <a
          class="group relative block rounded-xl overflow-hidden focus:outline-none"
          href="#"
        >
          <div
            class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
          >
            <img
              class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
              src="/portfolio-img/sonastik.png"
              alt="Sonastik - Browser extension for words explanation"
            />
          </div>
          <div class="absolute bottom-0 start-0 end-0 p-2 sm:p-4">
            <div
              class="text-lg font-semibold text-gray-800 rounded-lg bg-white p-4 md:text-xl dark:bg-neutral-800 dark:text-neutral-200"
            >
              Sõnastik - Browser extension for words explanation
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Masonry Cards -->
</div>
<!-- End Features -->
